<div class='top-bar'> 
    <a class='back-subj' href="/subjects"><button class="btn-primary move-down">Back to Subjects</button></a>
    <a class='back-subj' href="/"><button class="btn-primary move-down">Home</button></a>
</div>

<div class='main-section'>
    <div class="to-center heading">
       <h4><span id="subject-name">{{subjectname}}</span> Facts </h4>
        <button id='add-fact' class="to-center">Add Fact</button>
        <div id="filter-button">
             <button class="btn-primary move-down">Filter</button>
        </div>
        <div id='remove-filters'>
             <a href="/{{subject}}"><button class="btn-primary move-down">Remove Filters</button></a>
        </div>
     </div>

    <main>
        <div class="fact-list">
            <ul id="fact-list">
                {{#each facts}}
                    <div class="fact-box fact-score">
                        <div class="fact-info"><li class='info-text'>{{this.info}}</li></div>
                        <div class='score' id={{this.id}}>{{this.score}}</div>
                    </div>
                {{/each}}
            </ul>
            <input type="hidden" id="clicked-fact" value="">
            <br>
        </div>
    
    </main>
    
</div>

<div class="modal">
    <div class="modal-content">
        <h4>Add a  Fact</h4><br>
        Fact: <input type="text" id="new-fact" value=""><br><br>
        <span>
            <input type="button" id="create-fact" value="Add">&nbsp;&nbsp;&nbsp;
            <input type="button" id="cancel" value="Cancel">
            <input type="hidden" id="subject" value='{{subject}}'>
        </span>
    </div>
</div>

<div class="modal2">
    <div class="modal2-content">
        <h4>Score this Fact</h4>
        <h6>Based on its importance. The score you provide will be added to its current score.</h6>
        <span>1 - Worth knowing &nbsp;&nbsp;2 - You really should remember this &nbsp;&nbsp;3 - Must remember at all cost!</span>
        <select class="form-control" id="new-fact-score">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <br>
        <span>
            <input type="submit" id='add-score' value="Add Score">
            <input type="button" id="cancel2" value="Cancel">
        </span>
    </div>
</div>

<div class="modal3">
    <div class="modal3-content">
        <h4>Filter facts</h4>
        <pre>Show facts that have a score greater than:</pre>
        <input type="number" id="filter-value">
        <br>
        <span>
            <input type="button" id='filter-btn' value="Filter">
            <input type="button" id="cancel3" value="Cancel">
        </span>
    </div>
</div>

<div class='other'>
</div>